/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wapcm_msg_instead_global_message_field{
	display:none;
}
.wapcm-plugins-gopro {
    color: #93003c;
    text-shadow: 1px 1px 1px #eee;
    font-weight: 700;
}
.wapcm-wc-checkboxes{
	margin:0;
}
#wapcm_note_for_redirect_url
{
	font-weight : bold;
}
.upgradebtn {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	background: #2263b7;
	padding: 2px 7px;
	font-weight:bold;
}

.hidebtn {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	padding: 2px 7px;
	font-weight:bold;
}